.gallery-page {
  width: 60%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.gallery-page h1 {
  font-size: 44px;
  font-family: Arial, Helvetica, sans-serif;
}
.dog-image {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.small-dog-image {
  width: 45%;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.text-over-img {
  margin-top:40px;
  margin-bottom:10px;
}
.text-under-img {
  margin-top: 10px;
  margin-bottom:40px;
}
.text-between-imgs {
  margin-top: 10px;
  margin-bottom:10px;
}
.space-between-imgs {
  margin-top: 30px;
}
.small-img-spacer {
  margin-top: 3rem;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-spacer-2{
  margin-top: 0px;
  text-align: left;
  font-weight:bold;
  font-size:20px;
  line-height: 50px;
}

.indent-text-spacer-2{
  margin-top: 0px;;
  text-align: left;
  text-indent: 22px;
  font-size:20px;
  line-height: 50px;
}
video {
  display: block;
  margin: 0 auto;
  max-width:60%;
  border-radius: 12px;
  margin-top: 0px;
}
.merit-text {
  text-align: left;
  font-size: 36px;
  font-weight: bold;
}

@media (max-width: 430px) {
  .gallery-page {
    width: 90%;
    font-size: 12px;
  }
  .gallery-page h1 {
    font-size: 28px;
  }
  video {
    max-width: 90%;
  }
  .dog-image {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  }
  .text-spacer-2{
    font-weight:bold;
    font-size:14px;
    line-height: 20px;
  }

  .indent-text-spacer-2{
    margin-top: 0px;;
    text-indent: 22px;
    font-size:14px;
    line-height: 20px;
  }
  .merit-text {
    font-size: 22px;
  }
}