/* ------------------- HUNDARNA ------------------- */
.gallery-page {
  width: 70%;
  margin: auto;
}
.dog-image {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .gallery-page {
    width: 90%;
    margin: auto;
  }
  .dog-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    margin-left: 0px;
  }
  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 14px;
  }
}